.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
}

.header__logo {
  width: 146px;
  margin-bottom: 20px;
}

.header__logo__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  text-align: center;
}

.header__title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px 0;
  max-width: 720px;
}

.header__subtitle {
  font-size: 18px;
  text-align: center;
  margin: 0 0 64px 0;
}

.header__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  object-fit: cover;
}
