.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  max-width: 984px;
  max-height: 983px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__title {
  font-size: 72px;
  font-family: "Inter", sans-serif;
  line-height: 1.1;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px 0;
  max-width: 720px;
}

.header__subtitle {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0 0 64px 0;
  max-width: 720px;
  height: 72px;
}

.header__image {
  width: 100%;
  max-width: 984px;
  height: auto;
  object-fit: cover;
}
