.lead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 720px;
  margin: 64px auto 0;
}

.lead__title {
  font-size: 32px;
  line-height: 1.15;
  font-weight: 900;
  margin: 0 0 32px 0;
}

.lead__quote {
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 16px 0;
  font-style: italic;
}

.lead__author {
  font-size: 20px;
  align-self: flex-end;
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.lead__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0;
}
