.lead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  max-height: 482px;
  margin: 64px auto 0;
}

.lead__title {
  font-size: 54px;
  font-family: "Inter", sans-serif;
  line-height: 1.15;
  font-weight: 900;
  max-width: 830px;
  max-height: 116px;
  margin: 30px 0 54px 0;
}

.lead__quote {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  line-height: 1.42;
  font-weight: 400;
  max-width: 738px;
  max-height: 68px;
  margin: 0 0 16px 0;
}

.lead__author {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 732px;
  max-height: 34px;
  text-align: right;
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
}

.lead__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  max-width: 722px;
  max-height: 182px;
  margin: 0;
}
