.page {
  background-color: #2a2c2f;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

.page__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
}

@media screen and (max-width: 768px) {
  .page__container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__container {
    padding: 0 16px;
  }
}
