@import url(/vendor/fonts.css);
@import url(/vendor/normalize.css);

@import url(/blocks/page.css);
@import url(/blocks/logo.css);
@import url(/blocks/header.css);
@import url(/blocks/lead.css);
@import url(/blocks/footer.css);

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 768px) {
  .page__container {
    padding: 0 24px;
  }

  .header__title {
    font-size: 42px;
  }

  .header__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .header__title {
    font-size: 32px;
  }
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
